jaxws-unit/testcases/rt_wsdl_parser/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="HelloService" targetNamespace="http://helloservice.org/wsdl" xmlns:tns="http://helloservice.org/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://helloservice.org/types">
  <types>
    <schema targetNamespace="http://helloservice.org/types" xmlns:tns="http://helloservice.org/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
     <element name="HelloRequest">
      <complexType>
        <sequence>
          <element name="string" type="string" nillable="true"/></sequence></complexType>
     </element>
     <element name="HelloResponse">
      <complexType>
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
     </element>
    </schema>
  </types>
  <message name="Hello_hello">
    <part name="parameters" element="ns2:HelloRequest"/></message>
  <message name="Hello_helloResponse">
    <part name="result" element="ns2:HelloResponse"/></message>
  <portType name="Hello">
    <operation name="hello">
      <input message="tns:Hello_hello"/>
      <output message="tns:Hello_helloResponse"/></operation>
  </portType>
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation>
  </binding>
  <service name="HelloService">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://localhost:2020/W2JDLAsync/jaxws/Hello"/></port></service></definitions>
