jaxws-unit/testcases/provider/wsdl_hello_lit_soap12/server/hello_literal.wsdl

<definitions
  name="HelloTest"
  targetNamespace="urn:test"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="urn:test:types"
  xmlns:tns="urn:test">

  <types>
     <xsd:schema>
          <xsd:import namespace="urn:test:types" schemaLocation="hello.xsd"/>
     </xsd:schema>
  </types>

  <message name="HelloRequest">
    <part name="parameters" element="types:Hello"/>
    <part name="header" element="types:Hello"/>
  </message>

  <message name="HelloResponse">
    <part name="parameters" element="types:HelloResponse"/>
  </message>

  <message name="MarshallTest_voidTest">
    <part name="parameters" element="types:VoidTest"/>
  </message>

  <message name="MarshallTest_voidTestResponse">
    <part name="result" element="types:VoidTestResponse"/>
  </message>

  <portType name="Hello">
    <operation name="hello">
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
    </operation>

    <!-- this is a regression test for bug 4823861 -->
    <operation name="voidTest">
      <input message="tns:MarshallTest_voidTest"/>
      <output message="tns:MarshallTest_voidTestResponse"/>
    </operation>

  </portType>

  <binding name="HelloBinding" type="tns:Hello">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
      <soap12:operation soapAction="urn:test:hello"/>
      <input>
        <soap12:body parts="parameters" use="literal"/>
        <soap12:header message="tns:HelloRequest" part="header" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="voidTest">
      <input>
        <soap12:body use="literal"/></input>
      <output>
        <soap12:body use="literal"/></output>
      <soap12:operation soapAction=""/>
    </operation>
  </binding>

  <service name="Hello">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap12:address location="http://test.org/hello"/>
    </port>
  </service>

</definitions>
