jaxws-ri/rt/src/test/resources/etc/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-SNAPSHOT svn-revision#13981. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://echo.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://echo.org/" name="EchoService">
  <types>
  <xs:schema version="1.0" targetNamespace="http://echo.org/" xmlns:tns="http://echo.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="add" nillable="true" type="tns:numbersRequest"/>

    <xs:element name="addNumbers" nillable="true" type="tns:numbersRequest"/>

    <xs:element name="addNumbersResponse" nillable="true" type="xs:int"/>

    <xs:element name="addResponse" type="xs:int"/>

    <xs:element name="arg1" nillable="true" type="xs:string"/>

    <xs:element name="arg2" nillable="true" type="xs:string"/>

    <xs:element name="arg3" nillable="true" type="xs:string"/>

    <xs:element name="echoHeaders" nillable="true" type="xs:string"/>

    <xs:element name="echoHeadersResponse" nillable="true" type="xs:string"/>

    <xs:element name="echoString" nillable="true" type="xs:string"/>

    <xs:complexType name="numbersRequest">
      <xs:sequence>
        <xs:element name="number1" type="xs:int"/>
        <xs:element name="number2" type="xs:int"/>
        <xs:element name="guess" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
</xs:schema>

  </types>
  <message name="add">
    <part name="add" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="addResponse" element="tns:addResponse"/>
  </message>
  <message name="addNumbers">
    <part name="addNumbers" element="tns:addNumbers"/>
  </message>
  <message name="addNumbersResponse">
    <part name="addNumbersResponse" element="tns:addNumbersResponse"/>
  </message>
  <message name="echoString">
    <part name="echoString" element="tns:echoString"/>
  </message>
  <message name="echoStringResponse">
    <part name="echoString" element="tns:echoString"/>
  </message>
  <message name="echoHeaders">
    <part name="echoHeaders" element="tns:echoHeaders"/>
    <part name="arg1" element="tns:arg1"/>
    <part name="arg3" element="tns:arg3"/>
  </message>
  <message name="echoHeadersResponse">
    <part name="echoHeadersResponse" element="tns:echoHeadersResponse"/>
    <part name="echoHeaders" element="tns:echoHeaders"/>
    <part name="arg2" element="tns:arg2"/>
    <part name="arg3" element="tns:arg3"/>
  </message>
  <portType name="Echo">
    <operation name="add">
      <input wsam:Action="http://echo.org/Echo/addRequest" message="tns:add"/>
      <output wsam:Action="http://echo.org/Echo/addResponse" message="tns:addResponse"/>
    </operation>
    <operation name="addNumbers" parameterOrder="addNumbers addNumbersResponse">
      <input wsam:Action="http://echo.org/Echo/addNumbersRequest" message="tns:addNumbers"/>
      <output wsam:Action="http://echo.org/Echo/addNumbersResponse" message="tns:addNumbersResponse"/>
    </operation>
    <operation name="echoString">
      <input wsam:Action="http://echo.org/Echo/echoStringRequest" message="tns:echoString"/>
      <output wsam:Action="http://echo.org/Echo/echoStringResponse" message="tns:echoStringResponse"/>
    </operation>
    <operation name="echoHeaders" parameterOrder="echoHeaders arg1 arg2 arg3">
      <input wsam:Action="http://echo.org/Echo/echoHeadersRequest" message="tns:echoHeaders"/>
      <output wsam:Action="http://echo.org/Echo/echoHeadersResponse" message="tns:echoHeadersResponse"/>
    </operation>
  </portType>
  <binding name="EchoPortBinding" type="tns:Echo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echoString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echoHeaders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="echoHeaders"/>
        <soap:header message="tns:echoHeaders" part="arg1" use="literal"/>
        <soap:header message="tns:echoHeaders" part="arg3" use="literal"/>
      </input>
      <output>
        <soap:body use="literal" parts="echoHeaders"/>
        <soap:header message="tns:echoHeadersResponse" part="echoHeadersResponse" use="literal"/>
        <soap:header message="tns:echoHeadersResponse" part="arg2" use="literal"/>
        <soap:header message="tns:echoHeadersResponse" part="arg3" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EchoService">
    <port name="EchoPort" binding="tns:EchoPortBinding">
      <soap:address location="http://fromjava.bare_710.server/?EchoPort"/><!--in-vm://-->
    </port>
  </service>
</definitions>