jaxws-unit/testcases/handler/handler_processing/server/service.wsdl

<definitions 
  name="HandlerTestService"
  targetNamespace="urn:test"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="urn:test:types"
  xmlns:tns="urn:test">
  
  <types>
  <!-- If any other elements are added here, remember to add them
       to the comments in HandlerUtil.addHeaderToMessage and also
       HandlerUtil.createJAXBContext. -->
    <xsd:schema
        targetNamespace="urn:test:types"
        attributeFormDefault="qualified"
        elementFormDefault="qualified">

      <xsd:element name="TestInt">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="intin" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="TestIntResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="intout" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="TestIntOneWay">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="intinoneway" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- fault used for testing -->
      <xsd:element name="MyFaultInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="varString" type="xsd:string"/> 
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="SetInstruction">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="action" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="SetInstructionResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetReport">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="reportType" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetReportResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"
                    minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ClearHandlerTracker">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="ClearHandlerTrackerResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="ClearCalledHandlers">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="ClearCalledHandlersResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="TestIntRequest">
    <part name="parameters" element="types:TestInt"/>
  </message>
  
  <message name="TestIntResponse">
    <part name="parameters" element="types:TestIntResponse"/>
  </message>  
  
  <message name="TestIntOneWayRequest">
    <part name="parameters" element="types:TestIntOneWay"/>
  </message>
  
  <message name="MyFaultException">
    <part name="parameters" element="types:MyFaultInfo"/>
  </message>

  <message name="SetInstructionRequest">
    <part name="parameters" element="types:SetInstruction"/>
  </message>

  <message name="SetInstructionResponse">
    <part name="parameters" element="types:SetInstructionResponse"/>
  </message>  

  <message name="GetReportRequest">
    <part name="parameters" element="types:GetReport"/>
  </message>

  <message name="GetReportResponse">
    <part name="parameters" element="types:GetReportResponse"/>
  </message>  
  
  <message name="ClearHandlerTrackerRequest">
    <part name="parameters" element="types:ClearHandlerTracker"/>
  </message>

  <message name="ClearHandlerTrackerResponse">
    <part name="parameters" element="types:ClearHandlerTrackerResponse"/>
  </message>  
  
  <message name="ClearCalledHandlersRequest">
    <part name="parameters" element="types:ClearCalledHandlers"/>
  </message>

  <message name="ClearCalledHandlersResponse">
    <part name="parameters" element="types:ClearCalledHandlersResponse"/>
  </message>  
  
  <portType name="TestService">
    <operation name="TestInt">
      <input message="tns:TestIntRequest"/>
      <output message="tns:TestIntResponse"/>
      <fault name="Fault1" message="tns:MyFaultException"/>
    </operation>
    <operation name="TestIntOneWay">
      <input message="tns:TestIntOneWayRequest"/>
    </operation>
  </portType>
  
  <portType name="ReportService">
    <operation name="SetInstruction">
      <input message="tns:SetInstructionRequest"/>
      <output message="tns:SetInstructionResponse"/>
    </operation>  
    <operation name="GetReport">
      <input message="tns:GetReportRequest"/>
      <output message="tns:GetReportResponse"/>
    </operation>  
    <operation name="ClearHandlerTracker">
      <input message="tns:ClearHandlerTrackerRequest"/>
      <output message="tns:ClearHandlerTrackerResponse"/>
    </operation>  
    <operation name="ClearCalledHandlers">
      <input message="tns:ClearCalledHandlersRequest"/>
      <output message="tns:ClearCalledHandlersResponse"/>
    </operation>  
  </portType>
  
  <binding name="TestServiceBinding" type="tns:TestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="TestInt">
      <soap:operation/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
      <fault name="Fault1"><soap:fault name="Fault1" use="literal"/></fault>
    </operation>      
    <operation name="TestIntOneWay">
      <soap:operation/>
      <input><soap:body use="literal"/></input>
    </operation>      
  </binding>
    
  <binding name="ReportServiceBinding" type="tns:ReportService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SetInstruction">
      <soap:operation/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="GetReport">
      <soap:operation/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="ClearHandlerTracker">
      <soap:operation/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="ClearCalledHandlers">
      <soap:operation/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>
  
  <service name="TestService">
    <port name="TestServicePort" binding="tns:TestServiceBinding">
      <soap:address location="http://test.org/foo"/>
    </port>
    <port name="ReportServicePort" binding="tns:ReportServiceBinding">
      <soap:address location="http://test.org/foo"/>
    </port>
  </service>
  
</definitions>
