jaxws-ri/tests/unit-rearch/src/fromwsdl/jaxws102/config/benchMark.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 2013 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    http://glassfish.java.net/public/CDDL+GPL_1_1.html
    or packager/legal/LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at packager/legal/LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->

<definitions targetNamespace="http://localhost/MultiDepBpel/benchMark"
             name="benchMark"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="http://localhost/MultiDepBpel/benchMark"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="benchMarkLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:benchMarkPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="benchMarkSubBPLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:benchMarkSubBPPortType"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property name="property" type="xsd:string"/>
    <bpws:propertyAlias propertyName="tns:property"
                        messageType="tns:benchMarkMessage"
                        part="benchMarkPart">
    	<bpws:query>string</bpws:query>
    </bpws:propertyAlias>

    <types>
        <xsd:schema targetNamespace="http://localhost/MultiDepBpel/benchMark"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
                    xmlns:tns="http://localhost/MultiDepBpel/benchMark"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            
            
                    <xsd:element type="tns:benchMarkType"
                         name="benchMarkElement"></xsd:element>
            <xsd:complexType name="benchMarkType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="benchMarkMessage">
        <part name="benchMarkPart"
              element="tns:benchMarkElement"></part>
    </message>
    <portType name="benchMarkPortType">
        <operation name="benchMarkOperation1">
            <input message="tns:benchMarkMessage"></input>
            <output message="tns:benchMarkMessage"></output>
        </operation>
        <operation name="benchMarkOperation2">
            <input message="tns:benchMarkMessage"></input>
        </operation>
    </portType>
    <portType name="benchMarkSubBPPortType">
        <operation name="benchMarkSubBPOperation1">
            <input message="tns:benchMarkMessage"></input>
            <output message="tns:benchMarkMessage"></output>
            <fault name="subBPFault"
                   message="tns:benchMarkMessage"></fault>
        </operation>
    </portType>
    <binding name="benchMarkBinding"
             type="tns:benchMarkPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="benchMarkOperation1">
            <soap:operation soapAction="benchMarkOperation1"/>
            <input>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </output>
        </operation>
        <operation name="benchMarkOperation2">
            <soap:operation soapAction="benchMarkOperation2"/>
            <input>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="benchMarkSubBPBinding"
             type="tns:benchMarkSubBPPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="benchMarkSubBPOperation1">
            <soap:operation soapAction="benchMarkSubBPOperation1"/>
            <input>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="benchMarkService">
        <port name="benchMarkPort"
              binding="tns:benchMarkBinding">
            <soap:address location="http://localhost:12200/service/benchMark"/>
        </port>
    </service>
    <service name="benchMarkSubBPService">
        <port name="benchMarkSubPort"
              binding="tns:benchMarkSubBPBinding">
            <soap:address location="http://localhost:12200/service/benchMarkSubBP"/>
        </port>
    </service>
    <message name="MWInt">
        <part name="value"
              type="xsd:int"></part>
    </message>
</definitions>
