jaxws-unit/testcases/fromwsdl/header/doclit/server/header.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    targetNamespace="http://example.com/wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:types="http://example.com/types">

    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/types"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            xmlns:types="http://example.com/types">

            <xsd:element name="echo" type="types:echoType"/>
            <xsd:complexType name="echoType">
                <xsd:sequence>
                    <xsd:element name="reqInfo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="echoResponse" type="types:echoResponseType"/>
            <xsd:complexType name="echoResponseType">
                <xsd:sequence>
                    <xsd:element name="respInfo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="echo2" type="types:echo2Type"/>
            <xsd:complexType name="echo2Type">
                <xsd:sequence>
                    <xsd:element name="reqInfo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="echo2Response" type="types:echo2ResponseType"/>
            <xsd:complexType name="echo2ResponseType">
                <xsd:sequence>
                    <xsd:element name="respInfo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="echo3" type="types:echo3Type"/>
            <xsd:complexType name="echo3Type">
                <xsd:sequence>
                    <xsd:element name="reqInfo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="echo4" type="types:echo4Type"/>
            <xsd:complexType name="echo4Type">
                <xsd:sequence>
                    <xsd:element name="argument" type="xsd:string"/>
                    <xsd:element name="extra" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:element name="echo4Response" type="xsd:string"/>
            <xsd:element name="echo4Header" type="xsd:string"/>
            <xsd:element name="echo5Request" type="types:echoType"/>
            <xsd:element name="echo5Response" type="xsd:string"/>
            <xsd:element name="extraInfo" type="xsd:string"/>
            <xsd:element name="echo6Request" type="types:echoType"/>
            <xsd:element name="echo6Response" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Address" type="xsd:string"/>
            <xsd:element name="echo4ResponseHeader" type="xsd:string"/>

            <xsd:element name="fname" type="xsd:string"/>
            <xsd:element name="lname" type="xsd:string"/>
            <xsd:element name="person_name" type="types:NameType"/>
            <xsd:element name="person_other" type="xsd:string"/>
            <xsd:element name="person_address" type="xsd:string"/>
            <xsd:complexType name="NameType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>


        </xsd:schema>
    </wsdl:types>

    <message name="echoRequest">
        <part name="reqBody" element="types:echo"/>
        <part name="reqHeader" element="types:echo"/>
        <part name="req2Header" element="types:echo2"/>
    </message>

    <message name="echoResponse">
        <part name="respBody" element="types:echoResponse"/>
    </message>

    <message name="echo2Request">
        <part name="reqBody" element="types:echo2"/>
    </message>

    <message name="echo2Response">
        <part name="respBody" element="types:echo2Response"/>
    </message>

    <message name="echo2Header">
        <part name="reqHeader" element="types:echo2"/>
    </message>

    <message name="echo3Request">
        <part name="reqBody" element="types:echo3"/>
    </message>

    <message name="echo3Response">
        <part name="respBody" element="types:echo3"/>
    </message>

    <message name="echo3Header">
        <part name="reqHeader" element="types:echo3"/>
    </message>

    <message name="echo4Request">
        <part name="reqBody" element="types:echo4"/>
        <part name="reqHeader" element="types:echo4"/>
        <part name="req2Header" element="types:echo4Header"/>
    </message>

    <message name="echo4Response">
        <part name="respBody" element="types:echo4Response"/>
        <part name="respHeader" element="types:echo4ResponseHeader"/>
    </message>

    <message name="echo5Request">
        <part name="body" element="types:echo5Request"/>
    </message>

    <message name="echo5Response">
        <part name="respHeader" element="types:echo5Response"/>
    </message>

    <message name="echo6Request">
        <part name="body" element="types:echo6Request"/>
        <part name="header" element="types:echo6Request"/>
    </message>

    <message name="echo6Response">
        <part name="body" element="types:echo6Request"/>
        <part name="name" element="types:Name"/>
        <part name="address" element="types:Address"/>
    </message>

    <message name="echo7Request">
        <part name="FirstName" element="types:fname"/>
        <part name="LastName" element="types:lname"/>
    </message>

    <message name="echo7Response">
        <part name="name" element="types:person_name"/>
        <part name="PersonalDetails" element="types:person_other"/>
        <part name="address" element="types:person_address"/>
    </message>

    <message name="echo4Header">
        <part name="extraHeader" element="types:extraInfo"/>
    </message>

    <wsdl:portType name="HelloPortType">
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echoRequest"/>
            <wsdl:output message="tns:echoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="echo2">
            <wsdl:input message="tns:echo2Request"/>
            <wsdl:output message="tns:echo2Response"/>
        </wsdl:operation>

        <wsdl:operation name="echo3">
            <wsdl:input message="tns:echo3Request"/>
            <wsdl:output message="tns:echo3Response"/>
        </wsdl:operation>

        <wsdl:operation name="echo4">
            <wsdl:input message="tns:echo4Request"/>
            <wsdl:output message="tns:echo4Response"/>
        </wsdl:operation>

        <wsdl:operation name="echo5">
            <wsdl:input message="tns:echo5Request"/>
            <wsdl:output message="tns:echo5Response"/>
        </wsdl:operation>

        <wsdl:operation name="echo6" parameterOrder="name header">
            <wsdl:input message="tns:echo6Request"/>
            <wsdl:output message="tns:echo6Response"/>
        </wsdl:operation>

        <wsdl:operation name="echo7" parameterOrder="address PersonalDetails LastName">
            <wsdl:input message="tns:echo7Request"/>
            <wsdl:output message="tns:echo7Response"/>
        </wsdl:operation>


    </wsdl:portType>


    <wsdl:binding name="HelloBinding" type="tns:HelloPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <!-- non-wrapper -->
        <wsdl:operation name="echo">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echoRequest" parts="reqBody" use="literal"/>
                <soap:header message="tns:echoRequest" part="reqHeader" use="literal"/>
                <soap:header message="tns:echoRequest" part="req2Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echoResponse" parts="respBody" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- wrapper with header bound to a part from non input message -->
        <wsdl:operation name="echo2">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echo2Request" parts="reqBody" use="literal"/>
                <soap:header message="tns:echo2Header" part="reqHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echo2Response" parts="respBody" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- wrapper with in/out header -->
        <wsdl:operation name="echo3">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echo3Request" parts="reqBody" use="literal"/>
                <soap:header message="tns:echo3Header" part="reqHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echo3Response" parts="respBody" use="literal"/>
                <soap:header message="tns:echo3Header" part="reqHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- non-wrapper with in header, in/out header, out header, and header from a non input message -->
        <wsdl:operation name="echo4">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echo4Request" parts="reqBody" use="literal"/>
                <soap:header message="tns:echo4Request" part="reqHeader" use="literal"/>
                <soap:header message="tns:echo4Request" part="req2Header" use="literal"/>
                <soap:header message="tns:echo4Header" part="extraHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echo4Response" parts="respBody" use="literal"/>
                <soap:header message="tns:echo4Request" part="req2Header" use="literal"/>
                <soap:header message="tns:echo4Response" part="respHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- tests bug where header as return type in generated java signature causes compilation failure -->
        <wsdl:operation name="echo5">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="" use="literal"/>
                <soap:header message="tns:echo5Response" part="respHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="echo6">
            <soap:operation/>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:echo6Request" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body  parts="address" use="literal"/>
                <soap:header message="tns:echo6Response" part="body" use="literal"/>
                <soap:header message="tns:echo6Response" part="name" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="echo7">
            <soap:operation/>
            <wsdl:input>
                <soap:body parts="FirstName" use="literal"/>
                <soap:header message="tns:echo7Request" part="LastName" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body  parts="PersonalDetails" use="literal"/>
                <soap:header message="tns:echo7Response" part="name" use="literal"/>
                <soap:header message="tns:echo7Response" part="address" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://localhost/HelloService"/>
        </port>
    </service>
</wsdl:definitions>