jaxws-unit/testcases/async/wsdl_rpclit/server/hello_literal.wsdl

<definitions
  name="HelloTest"
  targetNamespace="urn:test"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="urn:test:types"
  xmlns:tns="urn:test">

  <types>
    <xsd:schema
        targetNamespace="urn:test:types"
        attributeFormDefault="qualified"
        elementFormDefault="qualified">

      <xsd:element name="Hello">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

        <!-- Added this type to avoid JAXB tie-breaker algorithm.
            TODO: remove it after KK provides accessor API to get property from
            the async response bean. -->
        <xsd:element name="Hellox">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:element name="Hello1" type="types:HelloType"/>
    <xsd:complexType name="HelloType">
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

      <xsd:element name="HelloOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Header" type="types:HelloType"/>
      <xsd:element name="ExtraHeader" type="xsd:string"/>
      
    </xsd:schema>
  </types>

  <message name="HelloRequest">
    <part name="parameters" type="types:HelloType"/>
  </message>

  <message name="HelloResponse">
    <part name="parameters" type="types:HelloType"/>
  </message>

  <message name="Hello2Request">
    <part name="param" type="types:HelloType"/>
    <part name="name" type="xsd:string"/>
  </message>

  <message name="Hello2Response">
    <part name="param" type="types:HelloType"/>
    <part name="age" type="xsd:int"/>
  </message>

  <message name="HelloExtra">
        <part name="additionalHeader" element="types:ExtraHeader"/>
    </message>

  <message name="HelloRequest1">
    <part name="req" type="types:HelloType"/>
    <part name="inHeader" element="types:Header"/>
  </message>

  <message name="HelloResponse1">
    <part name="res" type="types:HelloType"/>
    <part name="outHeader" element="types:Header"/>
  </message>

  <message name="HelloRequest0">
	<part name="param_in" type="xsd:int"/>
  </message>
  <message name="HelloResponse0">
    <part name="param_out" type="xsd:int"/>
  </message>

  <message name="HelloRequest4">
    <part name="req" type="types:HelloType"/>
    <part name="inHeader" element="types:Header"/>
  </message>

  <message name="HelloResponse4">
    <part name="res" type="types:HelloType"/>
    <part name="outHeader" element="types:Header"/>
  </message>


  <portType name="Hello">
    <operation name="hello">
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
    </operation>

    <operation name="hello1">
      <input message="tns:HelloRequest1"/>
      <output message="tns:HelloResponse1"/>
    </operation>

    <operation name="hello2">
      <input message="tns:Hello2Request"/>
      <output message="tns:Hello2Response"/>
    </operation>

    <operation name="hello0">
        <input message="tns:HelloRequest0"/>
        <output message="tns:HelloResponse0"/>
    </operation>

    <operation name="hello4" parameterOrder="req inHeader res">
      <input message="tns:HelloRequest4"/>
      <output message="tns:HelloResponse4"/>
    </operation>

  </portType>

  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body use="literal" namespace="urn:test"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:test"/>
      </output>
    </operation>

    <operation name="hello2">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body use="literal" namespace="urn:test"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:test"/>
      </output>
    </operation>

    <operation name="hello1">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body parts="req" use="literal" namespace="urn:test"/>
        <soap:header message="tns:HelloRequest1" part="inHeader"/>
        <soap:header message="tns:HelloExtra" part="additionalHeader"/>
      </input>
      <output>
        <soap:body parts="res" use="literal" namespace="urn:test"/>
        <soap:header message="tns:HelloResponse1" part="outHeader"/>
        <soap:header message="tns:HelloExtra" part="additionalHeader"/>
      </output>
    </operation>

    <operation name="hello0">
        <soap:operation soapAction="urn:test:hello0"/>
        <input>
            <soap:body use="literal" namespace="urn:test"/>
        </input>
        <output>
            <soap:body use="literal" namespace="urn:test"/>
        </output>
     </operation>

     <operation name="hello4">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body parts="req" use="literal" namespace="urn:test"/>
        <soap:header message="tns:HelloRequest4" part="inHeader"/>
      </input>
      <output>
        <soap:body parts="res" use="literal" namespace="urn:test"/>
        <soap:header message="tns:HelloResponse4" part="outHeader"/>
      </output>
    </operation>

  </binding>

  <service name="Hello">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://test.org/hello"/>
    </port>
  </service>

</definitions>
