jaxws-unit/testcases/async/wsdl_hello_lit_fault/server/hello_test.wsdl

<definitions
  name="HelloTest"
  targetNamespace="urn:test"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="urn:test:types"
  xmlns:tns="urn:test">

  <types>
    <xsd:schema
        targetNamespace="urn:test:types"
        attributeFormDefault="qualified"
        elementFormDefault="qualified">

      <xsd:element name="Hello">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    <xsd:element name="Hello1" type="types:HelloType"/>
    <xsd:complexType name="HelloType">
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

      <xsd:element name="HelloOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="HelloBodyFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FaultMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

      <xsd:element name="Header" type="types:HelloType"/>
      <xsd:element name="ExtraHeader" type="xsd:string"/>
    </xsd:schema>
  </types>

  <message name="HelloFault">
        <part name="BodyFault" element="types:HelloBodyFault"/>
  </message>

  <message name="HelloRequest">
    <part name="parameters" element="types:Hello"/>
  </message>

  <message name="HelloResponse">
    <part name="parameters" element="types:HelloOutput"/>
  </message>

    <message name="HelloExtra">
        <part name="additionalHeader" element="types:ExtraHeader"/>
    </message>

  <message name="HelloRequest1">
    <part name="req" element="types:Hello1"/>
    <part name="inHeader" element="types:Header"/>
  </message>

  <message name="HelloResponse1">
    <part name="res" element="types:HelloOutput"/>
    <part name="outHeader" element="types:Header"/>
  </message>

  <portType name="Hello">
    <operation name="hello">
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
      <fault name="Fault1" message="tns:HelloFault"/>
    </operation>

    <operation name="hello1">
      <input message="tns:HelloRequest1"/>
      <output message="tns:HelloResponse1"/>
    </operation>

  </portType>

  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
       <fault name="Fault1">
           <soap:fault name="Fault1" use="literal"/>
       </fault>
    </operation>

    <operation name="hello1">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body parts="req" use="literal"/>
        <soap:header message="tns:HelloRequest1" part="inHeader"/>
        <soap:header message="tns:HelloExtra" part="additionalHeader"/>
      </input>
      <output>
        <soap:body parts="res" use="literal"/>
        <soap:header message="tns:HelloResponse1" part="outHeader"/>
        <soap:header message="tns:HelloExtra" part="additionalHeader"/>
      </output>
    </operation>

  </binding>

  <service name="Hello">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://test.org/hello"/>
    </port>
  </service>

</definitions>
