jaxws-ri/tests/unit-rearch/src/customization/embedded/doclit/config/hello_literal.wsdl

<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 2013 Oracle and/or its affiliates. All rights reserved.

    The contents of this file are subject to the terms of either the GNU
    General Public License Version 2 only ("GPL") or the Common Development
    and Distribution License("CDDL") (collectively, the "License").  You
    may not use this file except in compliance with the License.  You can
    obtain a copy of the License at
    http://glassfish.java.net/public/CDDL+GPL_1_1.html
    or packager/legal/LICENSE.txt.  See the License for the specific
    language governing permissions and limitations under the License.

    When distributing the software, include this License Header Notice in each
    file and include the License file at packager/legal/LICENSE.txt.

    GPL Classpath Exception:
    Oracle designates this particular file as subject to the "Classpath"
    exception as provided by Oracle in the GPL Version 2 section of the License
    file that accompanied this code.

    Modifications:
    If applicable, add the following below the License Header, with the fields
    enclosed by brackets [] replaced by your own identifying information:
    "Portions Copyright [year] [name of copyright owner]"

    Contributor(s):
    If you wish your version of this file to be governed by only the CDDL or
    only the GPL Version 2, indicate your decision by adding "[Contributor]
    elects to include this software in this distribution under the [CDDL or GPL
    Version 2] license."  If you don't indicate a single choice of license, a
    recipient has the option to distribute your version of this file under
    either the CDDL, the GPL Version 2 or to extend the choice of license to
    its licensees as provided above.  However, if you add GPL Version 2 code
    and therefore, elected the GPL Version 2 license, then the option applies
    only if the new code is made subject to such option by the copyright
    holder.

-->

<definitions
  name="HelloTest"
  targetNamespace="urn:test"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="urn:test:types"
  xmlns:tns="urn:test">

<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
    <jaxws:enableAsyncMapping>true</jaxws:enableAsyncMapping>
</jaxws:bindings>

  <types>
    <xsd:schema
        targetNamespace="urn:test:types"
        attributeFormDefault="qualified"
        elementFormDefault="qualified">

      <xsd:element name="Hello">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    <xsd:element name="void" type="types:voidType"/>
    <xsd:complexType name="voidType">
        <xsd:sequence/>
    </xsd:complexType>

    <xsd:complexType name="HelloType">
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

      <xsd:element name="HelloOutput">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Foo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="fooChild1" type="xsd:string"/>
                <xsd:element name="fooChild2" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="FooResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="fooResponse1" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>        

    <xsd:element name="info" type="xsd:string"/>
    <xsd:element name="infoFaultDetail" type="xsd:string"/>
    </xsd:schema>
  </types>

  <message name="HelloRequest">
    <part name="parameters" element="types:Hello"/>
  </message>

  <message name="HelloResponse">
    <part name="parameters" element="types:HelloOutput"/>
  </message>

  <message name="FooRequest">
    <part name="in" element="types:Foo"/>
  </message>

  <message name="FooResponse">
    <part name="out" element="types:FooResponse"/>
  </message>

  <message name="FooFaultMessage">
    <part name="fooFault" element="types:Foo"/>
  </message>

  <message name="headerMessage">
    <part name="info" element="types:info"/>
    <part name="infoFault" element="types:infoFaultDetail"/>
  </message>

  <message name="voidRequest">
    <part name="request" element="types:void"/>
  </message>


  <message name="voidResponse">
    <part name="response" element="types:void"/>
  </message>


  <portType name="Hello">
    
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <!-- rename the generated SEI from Hello.java to HelloWorld.java -->
        <jaxws:class name="HelloWorld"/>
        <!-- disable async operation -->
        <jaxws:enableAsyncMapping>false</jaxws:enableAsyncMapping>
    </jaxws:bindings>

    <operation name="void">
        <jaxws:bindings wsdlLocation="hello_literal.wsdl" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
                <!-- rename the generated java method name-->
                <jaxws:method name="voidTest"/> 
                <jaxws:enableWrapperStyle>true</jaxws:enableWrapperStyle>
        </jaxws:bindings>
        <input message="tns:voidRequest"/>
        <output message="tns:voidResponse"/>
    </operation>

    <operation name="Hello"> 
    <jaxws:bindings wsdlLocation="hello_literal.wsdl" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <!-- rename the generated java method name-->
        <jaxws:method name="helloWorld"/>        
        <jaxws:enableWrapperStyle>true</jaxws:enableWrapperStyle>
        <jaxws:parameter part="wsdl:definitions/wsdl:message[@name='HelloRequest']/wsdl:part[@name='parameters']" childElementName="types:argument" name="helloArgument"/>
        <jaxws:parameter part="wsdl:definitions/wsdl:message[@name='HelloRequest']/wsdl:part[@name='parameters']" childElementName="types:extra" name="helloExtra"/>
    </jaxws:bindings>
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
    </operation>

    <operation name="Foo"> 
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
            <!-- rename the generated java method name-->
            <jaxws:method name="echoFoo"/>
            <jaxws:enableAsyncMapping>false</jaxws:enableAsyncMapping>
            <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
            <jaxws:parameter part="wsdl:definitions/wsdl:message[@name='FooRequest']/wsdl:part[@name='in']"  name="fooRequest"/>
        </jaxws:bindings>
          <input message="tns:FooRequest"/>
          <output message="tns:FooResponse"/>
          <fault name="FooFault" message="tns:FooFaultMessage">
            <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
                <jaxws:class name="FooException"/>
            </jaxws:bindings>
          </fault>
    </operation>
  </portType>

  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="void">
        <input>
        <soap:body use="literal"/>
      </input>

      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="Hello">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:headerMessage" part="info">
            <!--soap:headerfault message="tns:headerMessage" part="infoFault"/-->
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <jaxws:parameter part="wsdl:definitions/wsdl:message[@name='headerMessage']/wsdl:part[@name='info']" element="types:info" name="infoHeader"/>
        <!--jaxws:exception>
            <jaxws:class name="infoException"/>
        </jaxws:exception-->
    </jaxws:bindings>
    </operation>

    <operation name="Foo">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
        <soap:header message="tns:headerMessage" part="info">
            <!--soap:headerfault message="tns:headerMessage" part="infoFault"/-->
        </soap:header>
      </output>

      <fault name="FooFault">
        <soap:fault name="FooFault" use="literal"/>
      </fault>
    </operation>
  </binding>

  <service name="Hello">
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <jaxws:class name="CustomService"/>        
    </jaxws:bindings>

    <port name="HelloPort" binding="tns:HelloBinding">
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <jaxws:method name="getCustomizedPort"/>
    </jaxws:bindings>
      <soap:address location="http://test.org/hello"/>
    </port>

<!--
    <port name="HelloPort2" binding="tns:HelloBinding">
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <jaxws:method name="getCustomizedPort2"/> 
        <jaxws:provider>false</jaxws:provider>
    </jaxws:bindings>
      <soap:address location="http://test.org/hello2"/>
    </port>
-->
  </service>

</definitions>
