jaxws-ri/tests/unit/testcases/epr/wsdl_eprextensions/server/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="HelloService" targetNamespace="http://helloservice.org/wsdl" xmlns:tns="http://helloservice.org/wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://helloservice.org/types"
             xmlns:wsa10="http://www.w3.org/2005/08/addressing">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://helloservice.org/types"
                        schemaLocation="HelloTypes.xsd"/>
        </xsd:schema>
    </types>
    <message name="Hello_hello">
        <part name="parameters" element="ns2:HelloRequest"/>
    </message>
    <message name="Hello_helloResponse">
        <part name="result" element="ns2:HelloResponse"/>
    </message>
    <message name="getW3CEPR">
        <part name="parameters" element="ns2:getW3CEPR"/>
    </message>
    <message name="getW3CEPRResponse">
        <part name="parameters" element="ns2:getW3CEPRResponse"/>
    </message>


    <portType name="Hello">
        <operation name="hello">
            <input message="tns:Hello_hello"/>
            <output message="tns:Hello_helloResponse"/>
        </operation>
        <operation name="getW3CEPR">
            <input message="tns:getW3CEPR"/>
            <output message="tns:getW3CEPRResponse"/>
        </operation>

    </portType>
    <binding name="HelloBinding" type="tns:Hello">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="hello">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getW3CEPR">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://helloservice.org/Hello"/>
            <wsa10:EndpointReference>
                <wsa10:Address>
                    http://localhost:8080/secure_federation/SecureConversation_MutualCertificate11
                </wsa10:Address>
                <wsa10:ReferenceParameters refattr="ref-attribute">
                    <refelem1>ref-element-1-text</refelem1>
                    <refelem2>ref-element-2-text</refelem2>
                </wsa10:ReferenceParameters>
                <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <X509Data>
                            <X509Certificate>
                                1234567890
                            </X509Certificate>
                        </X509Data>
                    </KeyInfo>
                </Identity>
            </wsa10:EndpointReference>
        </port>
    </service>
</definitions>
