jaxws-unit/testcases/fromwsdl/freeze/resources/OrderInfoVOSDO.xsd

<xsd:schema targetNamespace="/oracle/fodemo/storefront/store/queries/common/" xmlns="/oracle/fodemo/storefront/store/queries/common/"
     elementFormDefault="qualified" sdoJava:package="oracle.fodemo.storefront.store.queries.common"
     xmlns:sdoXML="commonj.sdo/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/">
    <xsd:include schemaLocation="OrderItemsInfoVOSDO.xsd"/>
    <xsd:complexType name="OrderInfoVOSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>OrderId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="OrderId" type="xsd:integer" minOccurs="0" nillable="true"/>
            <xsd:element name="OrderStatusCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OrderTotal" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="CustomerId" type="xsd:long" minOccurs="0" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="ShipToName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ShipToPhoneNumber" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AddressId" type="xsd:integer" minOccurs="0" nillable="true"/>
            <xsd:element name="Address1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Address2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="City" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="StateProvince" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CountryId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PaymentOptionId" type="xsd:long" minOccurs="0" nillable="true" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="BillingAddressId" type="xsd:integer" minOccurs="0" nillable="true"/>
            <xsd:element name="AccountNumber" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="CardTypeCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CheckDigits" type="xsd:int" minOccurs="0" nillable="true" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element name="RoutingIdentifier" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="InstitutionName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ShipToAddressId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="ObjectVersionId" type="xsd:long" minOccurs="0" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="ShippingOptionId" type="xsd:long" minOccurs="0" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="ObjectVersionId1" type="xsd:long" minOccurs="0" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="FreeShippingFlag" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ObjectVersionId2" type="xsd:long" minOccurs="0" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="CustomerCollectFlag" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GiftwrapFlag" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PaymentOptionId1" type="xsd:integer" minOccurs="0" nillable="true"/>
            <xsd:element name="OrderItemsInfoVO" type="OrderItemsInfoVOSDO" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="orderInfoVOSDO" type="OrderInfoVOSDO"/>
</xsd:schema>
