jaxws-unit/testcases/fromwsdl/freeze/resources/StoreFrontService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="www.globalcompany.example.com/types/"
     xmlns:tns="www.globalcompany.example.com/types/" xmlns:ns0="/oracle/fodemo/storefront/store/queries/common/"
     xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/">
    <import namespace="/oracle/fodemo/storefront/store/queries/common/" schemaLocation="CustomerInfoVOSDO.xsd"/>
    <import namespace="/oracle/fodemo/storefront/store/queries/common/" schemaLocation="OrderInfoVOSDO.xsd"/>
    <element name="findCustomerInfoVO1">
        <complexType>
            <sequence>
                <element name="findCriteria" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="findCustomerInfoVO1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns0:CustomerInfoVOSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="findCustomerInfoVO1CustomerInfoVOCriteria">
        <complexType>
            <sequence>
                <element name="CustId" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="findCustomerInfoVO1CustomerInfoVOCriteriaResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:CustomerInfoVOSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="getOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="orderId" type="integer"/>
            </sequence>
        </complexType>
    </element>
    <element name="getOrderInfoVOSDOResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="createOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="orderInfoVO1" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="createOrderInfoVOSDOResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="orderInfoVO1" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateOrderInfoVOSDOResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="orderInfoVO1" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteOrderInfoVOSDOResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="orderInfoVO1" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeOrderInfoVOSDOResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:OrderInfoVOSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="findOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="findCriteria" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="findOrderInfoVOSDOResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:OrderInfoVOSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element name="orderInfoVO1" type="ns0:OrderInfoVOSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processOrderInfoVOSDOResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:OrderInfoVOSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSOrderInfoVOSDO">
        <complexType>
            <sequence>
                <element name="processData" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSOrderInfoVOSDOResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
