jaxws-unit/testcases/fromwsdl/additional_header/doclit/server/sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://example.com/wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://example.com/wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:types="http://example.com/types">

    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/types"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    attributeFormDefault="qualified"
                    elementFormDefault="qualified"
                    xmlns:types="http://example.com/types">

            <xsd:complexType name="echoType">
                <xsd:sequence>
                    <xsd:element name="reqInfo" type="xsd:anyURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="echoResponseType">
                <xsd:sequence>
                    <xsd:element name="respInfo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="echoWithInHeaders" type="types:echoType"/>
            <xsd:element name="echoWithInHeadersResponse" type="types:echoResponseType"/>

            <xsd:element name="echoWithOutHeaders" type="types:echoType"/>
            <xsd:element name="echoWithOutHeadersResponse" type="types:echoResponseType"/>

            <xsd:element name="echoWithInOutHeaders" type="types:echoType"/>
            <xsd:element name="echoWithInOutHeadersResponse" type="types:echoResponseType"/>

            <xsd:element name="echo" type="types:echoType"/>
            <xsd:element name="echoResponse" type="types:echoResponseType"/>
            <xsd:element name="reqHeader" type="xsd:string"/>

            <xsd:element name="additionalHeader1" type="xsd:string"/>
            <xsd:element name="additionalHeader2" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>

    <message name="additionalHeader1">
        <part name="additionalHeader1" element="types:additionalHeader1"/>
    </message>

    <message name="additionalHeader2">
        <part name="additionalHeader2" element="types:additionalHeader2"/>
    </message>

    <message name="echoWithInHeadersRequest">
        <part name="reqBody" element="types:echoWithInHeaders"/>
    </message>

    <message name="echoWithInHeadersResponse">
        <part name="respBody" element="types:echoWithInHeadersResponse"/>
    </message>

    <message name="echoWithOutHeadersRequest">
        <part name="reqBody" element="types:echoWithOutHeaders"/>
    </message>

    <message name="echoWithOutHeadersResponse">
        <part name="respBody" element="types:echoWithOutHeadersResponse"/>
    </message>

    <message name="echoWithInOutHeadersRequest">
        <part name="reqBody" element="types:echoWithInOutHeaders"/>
    </message>

    <message name="echoWithInOutHeadersResponse">
        <part name="respBody" element="types:echoWithInOutHeadersResponse"/>
    </message>

    <message name="echoWithInOutHeadersBareResponse">
        <part name="respBody" element="types:echoResponse"/>
    </message>

    <message name="echoWithInOutHeadersBareRequest">
        <part name="reqBody" element="types:echo"/>
        <part name="reqHeader" element="types:reqHeader"/>
    </message>

    <wsdl:portType name="HelloPortType">
        <wsdl:operation name="echoWithInHeaders">
            <wsdl:input message="tns:echoWithInHeadersRequest"/>
            <wsdl:output message="tns:echoWithInHeadersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echoWithOutHeaders">
            <wsdl:input message="tns:echoWithOutHeadersRequest"/>
            <wsdl:output message="tns:echoWithOutHeadersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echoWithInOutHeaders">
            <wsdl:input message="tns:echoWithInOutHeadersRequest"/>
            <wsdl:output message="tns:echoWithInOutHeadersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echoWithInOutHeadersBare">
            <wsdl:input message="tns:echoWithInOutHeadersBareRequest"/>
            <wsdl:output message="tns:echoWithInOutHeadersBareResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="HelloBinding" type="tns:HelloPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="echoWithInHeaders">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echoWithInHeadersRequest"/>
                <soap:header message="tns:additionalHeader1" part="additionalHeader1"/>
                <soap:header message="tns:additionalHeader2" part="additionalHeader2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echoWithInHeadersResponse"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="echoWithOutHeaders">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echoWithOutHeadersRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echoWithOutHeadersResponse"/>
                <soap:header message="tns:additionalHeader1" part="additionalHeader1"/>
                <soap:header message="tns:additionalHeader2" part="additionalHeader2"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="echoWithInOutHeaders">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echoWithInOutHeadersRequest"/>
                <soap:header message="tns:additionalHeader1" part="additionalHeader1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echoWithInOutHeadersResponse"/>
                <soap:header message="tns:additionalHeader1" part="additionalHeader1"/>
                <soap:header message="tns:additionalHeader2" part="additionalHeader2"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="echoWithInOutHeadersBare">
            <soap:operation/>
            <wsdl:input>
                <soap:body message="tns:echoWithInOutHeadersBareRequest" parts="reqBody"/>
                <soap:header message="tns:echoWithInOutHeadersBareRequest" part="reqHeader"/>                
                <soap:header message="tns:additionalHeader2" part="additionalHeader2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body message="tns:echoWithInOutHeadersBareResponse"/>
                <soap:header message="tns:additionalHeader1" part="additionalHeader1"/>
                <soap:header message="tns:additionalHeader2" part="additionalHeader2"/>
            </wsdl:output>
        </wsdl:operation>        

    </wsdl:binding>

    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://localhost/HelloService"/>
        </port>
    </service>
</wsdl:definitions>