jaxws-ri/tests/unit/testcases/bugs/jaxws1050/Service_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.tempuri.org/NieuwArtikelService/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tempuri.org/NieuwArtikelService/v1">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.tempuri.org/NieuwArtikelService/v1">
			<xs:element name="NieuwArtikel">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Artikel" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NieuwArtikelResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DefaultOutput" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="NieuwArtikelRequest">
		<wsdl:part name="NieuwArtikel" type="tns:ArtikelType"/>
	</wsdl:message>
	<wsdl:message name="NieuwArtikelResponse">
		<wsdl:part type="xs:string" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="NieuwArtikelFault">
		<wsdl:part type="xs:string" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="NieuwArtikelServicePortType">
		<wsdl:operation name="NieuwArtikel">
			<wsdl:input message="tns:NieuwArtikelRequest"/>
			<wsdl:output message="tns:NieuwArtikelResponse"/>
			<wsdl:fault name="FaultMessage" message="tns:NieuwArtikelFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NieuwArtikelServiceSOAP" type="tns:NieuwArtikelServicePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NieuwArtikel">
			<soap:operation soapAction="http://www.tempuri.org/NieuwArtikelService/v1/NieuwArtikel"/>
			<wsdl:input>
				<soap:body namespace="http://www.tempuri.org/NieuwArtikelService/v1" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.tempuri.org/NieuwArtikelService/v1" use="literal"/>
			</wsdl:output>

            <!--this is how it should be ...-->
			<wsdl:fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</wsdl:fault>

            <!--this is how user made it - incorrect, but we shouldn't fail in this case (such case introduced regression)-->
			<wsdl:fault name="NieuwArtikelFault">
				<soap:fault name="NieuwArtikelFault" use="literal"/>
			</wsdl:fault>

		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NieuwArtikelService">
		<wsdl:port binding="tns:NieuwArtikelServiceSOAP" name="NieuwArtikelServiceSOAP">
			<soap:address location="http://localhost/naf"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

