jaxws-unit/testcases/server/soapaction_dispatch/server/TestEndpointService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://server.soapaction_dispatch.server/" xmlns:tns="http://server.soapaction_dispatch.server/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="input" type="tns:echo"/>

  <xs:element name="output" type="tns:echoResponse"/>

  <xs:complexType name="echo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

