jaxws-ri/tests/unit/testcases/fromwsdl/handler_simple_rpclit/server/hello_literal.wsdl

<definitions 
  name="HelloTest"
  targetNamespace="urn:test"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:types="urn:test:types"
  xmlns:tns="urn:test">
  
  <types>
    <!--xsd:schema
        targetNamespace="urn:test:types"
        attributeFormDefault="qualified"
        xmlns:types="urn:test:types"
        elementFormDefault="qualified">

      <xsd:element name="Hello" type="types:HelloType"/>
      <xsd:complexType name="HelloType">
            <xsd:sequence>
                <xsd:element name="intin" type="xsd:int"/>
            </xsd:sequence>
      </xsd:complexType>


      <xsd:element name="HelloResponse" type="types:HelloResponseType"/>
      <xsd:complexType name="HelloResponseType">
            <xsd:sequence>
                <xsd:element name="intout" type="xsd:int"/>
            </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="Hello12" type="types:Hello12Type"/>
      <xsd:complexType name="Hello12Type">
            <xsd:sequence>
                <xsd:element name="int12in" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>

      <xsd:element name="Hello12Response"  type="types:Hello12ResponseType"/>
      <xsd:complexType name="Hello12ResponseType">
            <xsd:sequence>
                <xsd:element name="int12out" type="xsd:int"/>
            </xsd:sequence>
      </xsd:complexType>

    </xsd:schema-->
  </types>

  <message name="HelloRequest">
    <part name="intin" type="xsd:int"/>
  </message>
  
  <message name="HelloResponse">
    <part name="intout" type="xsd:int"/>
  </message>  
  
  <message name="Hello12Request">
    <part name="int12in" type="xsd:int"/>
  </message>
  
  <message name="Hello12Response">
    <part name="int12out" type="xsd:int"/>
  </message>  
  
  <portType name="Hello">
    <operation name="Hello">
      <input message="tns:HelloRequest"/>
      <output message="tns:HelloResponse"/>
    </operation>  
  </portType>
  
  <portType name="Hello12">
    <operation name="Hello12">
      <input message="tns:Hello12Request"/>
      <output message="tns:Hello12Response"/>
    </operation>  
  </portType>
  
  <binding name="HelloBinding" type="tns:Hello">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Hello">
      <soap:operation soapAction="urn:test:hello"/>
      <input>
        <soap:body use="literal" namespace="urn:test:types"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:test:types"/>
      </output>
    </operation>      
  </binding>
    
  <binding name="HelloBinding12" type="tns:Hello12">
    <soap12:binding style="rpc" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
    <operation name="Hello12">
      <soap12:operation soapAction="urn:test:hello"/>
      <input>
        <soap12:body use="literal" namespace="urn:test:types"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="urn:test:types"/>
      </output>
    </operation>      
  </binding>

  <service name="Hello">
    <port name="HelloPort" binding="tns:HelloBinding">
      <soap:address location="http://test.org/hello"/>
    </port>
    <port name="HelloPort12" binding="tns:HelloBinding12">
      <soap12:address location="http://test.org/hello"/>
    </port>
  </service>
  
</definitions>
