jaxws-ri/tests/unit/testcases/server/endpoint/resources/SchemaRedefine.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://SchemaRedefine/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="echoFoo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="echoFooResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
