jaxws-unit/testcases/handler/single_handlertube/server/hello_literal.wsdl

<definitions
        name="HelloTest"
        targetNamespace="urn:test"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:types="urn:test:types"
        xmlns:tns="urn:test">

    <types>
        <xsd:schema
                targetNamespace="urn:test:types"
                attributeFormDefault="qualified"
                elementFormDefault="qualified">

            <xsd:element name="Hello">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="intin" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="HelloResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="intout" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Hello12">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="int12in" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Hello12Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="int12out" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="SetInstruction">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="action" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SetInstructionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetReport">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reportType" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetReportResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"
                                     minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ClearHandlerTracker">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ClearHandlerTrackerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ClearCalledHandlers">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ClearCalledHandlersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <message name="HelloRequest">
        <part name="parameters" element="types:Hello"/>
    </message>

    <message name="HelloResponse">
        <part name="parameters" element="types:HelloResponse"/>
    </message>

    <message name="Hello12Request">
        <part name="parameters" element="types:Hello12"/>
    </message>

    <message name="Hello12Response">
        <part name="parameters" element="types:Hello12Response"/>
    </message>

    <message name="SetInstructionRequest">
        <part name="parameters" element="types:SetInstruction"/>
    </message>

    <message name="SetInstructionResponse">
        <part name="parameters" element="types:SetInstructionResponse"/>
    </message>

    <message name="GetReportRequest">
        <part name="parameters" element="types:GetReport"/>
    </message>

    <message name="GetReportResponse">
        <part name="parameters" element="types:GetReportResponse"/>
    </message>

    <message name="ClearHandlerTrackerRequest">
        <part name="parameters" element="types:ClearHandlerTracker"/>
    </message>

    <message name="ClearHandlerTrackerResponse">
        <part name="parameters" element="types:ClearHandlerTrackerResponse"/>
    </message>

    <message name="ClearCalledHandlersRequest">
        <part name="parameters" element="types:ClearCalledHandlers"/>
    </message>

    <message name="ClearCalledHandlersResponse">
        <part name="parameters" element="types:ClearCalledHandlersResponse"/>
    </message>

    <portType name="Hello">
        <operation name="Hello">
            <input message="tns:HelloRequest"/>
            <output message="tns:HelloResponse"/>
        </operation>
    </portType>

    <portType name="Hello12">
        <operation name="Hello12">
            <input message="tns:Hello12Request"/>
            <output message="tns:Hello12Response"/>
        </operation>
    </portType>

    <portType name="ReportService">
        <operation name="SetInstruction">
            <input message="tns:SetInstructionRequest"/>
            <output message="tns:SetInstructionResponse"/>
        </operation>
        <operation name="GetReport">
            <input message="tns:GetReportRequest"/>
            <output message="tns:GetReportResponse"/>
        </operation>
        <operation name="ClearHandlerTracker">
            <input message="tns:ClearHandlerTrackerRequest"/>
            <output message="tns:ClearHandlerTrackerResponse"/>
        </operation>
        <operation name="ClearCalledHandlers">
            <input message="tns:ClearCalledHandlersRequest"/>
            <output message="tns:ClearCalledHandlersResponse"/>
        </operation>
    </portType>

    <binding name="HelloBinding" type="tns:Hello">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Hello">
            <soap:operation soapAction="urn:test:hello"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <binding name="HelloBinding12" type="tns:Hello12">
        <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <operation name="Hello12">
            <soap12:operation soapAction="urn:test:hello"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <binding name="ReportServiceBinding" type="tns:ReportService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SetInstruction">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetReport">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ClearHandlerTracker">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ClearCalledHandlers">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>


    <service name="Hello">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://test.org/hello"/>
        </port>
        <port name="HelloPort12" binding="tns:HelloBinding12">
            <soap12:address location="http://test.org/hello"/>
        </port>
        <port name="ReportServicePort" binding="tns:ReportServiceBinding">
            <soap:address location="http://test.org/foo"/>
        </port>
    </service>

</definitions>
