jaxws-unit/testcases/wsimport/extensibilityEl/server/hello_literal.wsdl

<definitions
        name="HelloTest"
        targetNamespace="urn:test"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:types="urn:test:types"
        xmlns:tns="urn:test"
        xmlns:foo="urn:foo">
<!-- test test test 
-->


    <types>
        <xsd:schema
                targetNamespace="urn:test:types"
                attributeFormDefault="unqualified"
                elementFormDefault="unqualified">

            <xsd:element name="Hello">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="argument" type="xsd:string"/>
                        <xsd:element name="extra" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="HelloType">
                <xsd:sequence>
                    <xsd:element name="argument" type="xsd:string"/>
                    <xsd:element name="extra" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="HelloResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:sequence>
                            <xsd:element name="name" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:element name="argument" type="xsd:string"/>
                        <xsd:element name="extra" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="HelloRequest">
         <xsd:annotation>
            <xsd:appInfo>Read me</xsd:appInfo>
            <xsd:documentation xml:lang="en">
                Trivial information.    
            </xsd:documentation>
        </xsd:annotation>
        <part name="parameters" element="types:Hello"/>
    </message>

    <message name="HelloResponse">
        <part name="parameters" element="types:HelloResponse"/>
    </message>

    <portType name="Hello">
        <foo:extension> extension element</foo:extension>
        <operation name="hello">
            <foo:extension> extension element</foo:extension>
            <input message="tns:HelloRequest"/>
            <output message="tns:HelloResponse"/>
        </operation>

    </portType>

    <binding name="HelloBinding" type="tns:Hello">
        <foo:extension> extension element</foo:extension>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hello">
            <foo:extension> extension element</foo:extension>
            <soap:operation soapAction="urn:test:hello"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="Hello">
        <foo:extension> extension element</foo:extension>
        <port name="HelloPort" binding="tns:HelloBinding">
            <foo:extension> extension element</foo:extension>
            <soap:address location="http://test.org/hello"/>
        </port>
    </service>

</definitions>
