jaxws-unit/testcases/provider/http_status_code_oneway/server/hello.xsd


    <xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:test:types"
        attributeFormDefault="qualified"
        elementFormDefault="qualified">

      <xsd:element name="Hello">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="argument" type="xsd:string"/>
                <xsd:element name="extra" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="VoidTest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
