jaxws-ri/jaxws-maven-plugin/src/test/it/wsdl-lib/src/main/resources/ProcessOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

    Copyright (c) 2012 Oracle and/or its affiliates. All rights reserved.

    Oracle licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. -->
<xs:schema xmlns:tns="http://tests/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tests/">

    <xs:element name="process" type="tns:process"/>

    <xs:element name="processResponse" type="tns:processResponse"/>

    <xs:complexType name="process">
        <xs:sequence>
            <xs:element name="order" type="tns:purchaseOrder" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="purchaseOrder">
        <xs:sequence>
            <xs:element name="billingAddress" type="tns:address" minOccurs="0"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <xs:element name="items" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="orderDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="shippingAddress" type="tns:address" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="city" type="xs:string" minOccurs="0"/>
            <xs:element name="country" type="tns:country" minOccurs="0"/>
            <xs:element name="state" type="xs:string" minOccurs="0"/>
            <xs:element name="street" type="xs:string" minOccurs="0"/>
            <xs:element name="zip" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="item">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="productName" type="xs:string" minOccurs="0"/>
            <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:purchaseOrder" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="country">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CZ"/>
            <xs:enumeration value="US"/>
            <xs:enumeration value="UK"/>
            <xs:enumeration value="SK"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
