jaxws-ri/tests/unit/testcases/bugs/fault_header/server/FaultHeaderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7b07  svn-revision#12884. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://server.fault_header.bugs/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://server.fault_header.bugs/" name="FaultHeaderService">

    <types>

        <xsd:schema targetNamespace="http://server.fault_header.bugs/">
            <xsd:element name="myWebMethod" type="tns:myWebMethod"/>
            <xsd:element name="myWebMethodResponse" type="tns:myWebMethodResponse"/>
            <xsd:element name="myWebMethodFault" type="tns:myWebMethodFault"/>

            <!-- no params to simplify wsdl ...-->
            <xsd:complexType name="myWebMethod"/>
            <xsd:complexType name="myWebMethodResponse"/>
            <xsd:complexType name="myWebMethodFault"/>

            <xsd:element name="Header1">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="string" type="xsd:string"/>
                      <xsd:element name="int" type="xsd:int"/>
                    </xsd:sequence>
                  </xsd:complexType>
            </xsd:element>
        </xsd:schema>

    </types>

    <message name="Header1Message">
      <part name="header1_part" element="tns:Header1"/>
    </message>

    <message name="myWebMethod">
        <part name="parameters" element="tns:myWebMethod"/>
    </message>
    <message name="myWebMethodResponse">
        <part name="parameters" element="tns:myWebMethodResponse"/>
    </message>
    <message name="myWebMethodFault">
        <part name="parameters" element="tns:myWebMethodFault"/>
    </message>
    <portType name="FaultHeader">
        <operation name="myWebMethod">
            <input message="tns:myWebMethod"/>
            <output message="tns:myWebMethodResponse"/>
            <fault name="addFault" message="tns:myWebMethodFault" />
        </operation>
    </portType>
    <binding name="FaultHeaderPortBinding" type="tns:FaultHeader">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="myWebMethod">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="addFault">
                <soap:fault name="addFault" use="literal"/>
                <!-- THIS IS THE PROBLEM of bug 13576977: WsImport fails if following element occurs here: -->
                <soap:header message="tns:Header1Message" part="header1_part" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="FaultHeaderService">
        <port name="FaultHeaderPort" binding="tns:FaultHeaderPortBinding">
            <soap:address location="in-vm://bugs.jaxws1040.fromwsdl.server/?FaultHeaderPort"/>
        </port>
    </service>
</definitions>